body{
    background-color: rgb(21,21,21);
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 550px;
    height: 600px;
    border-radius: 10px;
    animation: animFormulario 2s ease;
}
@keyframes animFormulario {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fContainer{
    margin: 20px;
}
.fHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fLogo a{
    transition: 0.5s ease;
}
.fLogo a:hover{
    opacity: 0.8;
}
.imgfLogo{
    width: 70px;
}
.entrar p{
    font-size: 18px;
    color: white;
}
.entrar a{
    text-decoration: none;
    color: #0053af;
    cursor: pointer;
    transition: all 0.3s ease;
}
.entrar a:hover{
    color: #006ae2;
}
.titulo{
    margin: 15px 0;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.titulo h2{
    font-size: 30px;
    color: white;

}
.titulo p{
    color: #757575;
    font-size: 20px;
}
.fCampo{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
label{
    margin: 3px 0;
    color: white;
}
.fCampo input{
    height: 35px;
    background-color: rgb(21,21,21);
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 0 7px;
}

.verificacao{
    display: flex;
    margin-top: 45px;
}
.verificacao p{
    color: white;
    font-size: 17px;
}
.verificacao a{
    text-decoration: none;
    color: #0053af;
    transition: all 0.3s ease;
    cursor: pointer;
}
.verificacao a:hover{
    color: #006ae2;
}
.verificacao input{
    color: #0053af;

    margin-right: 5px;
}
.pValidacao{
    margin-left: 3px;
    margin-top: 3px;
}
.botao{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
button{
    background-color: #0053af;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    transition: all 0.3s ease;
}
button:hover{
    opacity: 0.8;
}
.validacao{
    display: grid;
    color: #757575;
    grid-template-areas:
    'd1 d3'
    'd2 d4'
}
.pValidacao{
    display: flex;
}
.imgTraco{
    width: 17px;
    
    margin-right: 2px;
}
.validacao:nth-child(1).pValidacao{
    grid-area: d1;
}
.validacao:nth-child(2).pValidacao{
    grid-area: d2;
}
.validacao:nth-child(3).pValidacao{
    grid-area: d3;
}
.validacao:nth-child(4).pValidacao{
    grid-area: d4;
    
}


.alerta_erro{
    position: absolute;
    top: 400px;
    left: 920px;
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: rgb(34, 34, 34);
    color: white;
    width: 310px;
    position: fixed;
    border-radius: 4px;
    border: #0053af 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }

  .condicao{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 500;
    position: fixed;
    display: none;
  }
  .termos{
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: rgb(34,34,34);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    color: white;
  }
.termos h3{
    align-self: center;
}
.termos span{
    width: 80%;
    height: 3px;
    background-color: #0053af;
    align-self: center;
}
.primeiro{
    display: none;
}
.segundo{
    display: none;
}
.fModal{
    margin-top: 100px;
    align-self: center;
}
.codigoSeguranca{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    display: none;
}
.caixaConfirmacao{
    width: 450px;
    height: 250px;
    background-color: rgb(34,34,34);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.caixaConfirmacao h3{
    color: white;
    font-size: 22px;
    margin-top: 10px;
}
.caixaConfirmacao span{
    width: 100%;
    height: 3px;
    background-color: #0053af;
}
.caixaConfirmacao p {
    font-size: 20px;
    color: rgb(211, 211, 211);
    text-align: center;
}
.resultado{
    width: 200px;
    height: 40px;
    background-color: rgb(21,21,21);
    display: flex;
    align-items: center;
    justify-content: center;
}
.irLogin{
    height: 40px;
}